Package: com.satvikb.selectionplus
Name: SelectionPlus
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Make the text selection window yours!
Maintainer: Satvik
Author: Satvik
Section: Tweaks
