Package: com.satvikb.selectionplus
Name: Selection Plus
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Satvik
Author: Satvik
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 144
